
*.aux

*.log

Project Proposal/1002536r.pdf

*.toc

*.gz
*.bbl
*.blg
*.fls
*.fdb_latexmk
*~
*.o
*.mod
Examples/helloMPI
Examples/helloOpenMP
Examples/helloMPIOpenMP

esmf/
OpenPALMDistrib/
oasis3-mct/
*_LogFile
*Log
helloESMF
esmfExampleCoupling
compile_oa3-mct/
oasisExample
